@page "/UserStories/{RoomId}"

@using Microsoft.AspNetCore.SignalR.Client
@using PlanningPoker.Client.Services
@using PlanningPoker.Shared

@inject NavigationManager NavigationManager
@inject RoomStatusManager StatusManager
@inject IJSRuntime JsRuntime

@implements IDisposable

@if (StatusManager.Player == null)
{
    <h3>FJNSDKLF</h3>
}
else
{
    <div class="container">
        <h3>User Stories</h3>
        <div>Room Id:@StatusManager.Room.Id</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Tasks</th>
                    <th scope="col">Asigned To</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userStory in userStories)
                {
                    <tr>
                        <td>@userStory.Title</td>
                        <td>@userStory.Description</td>
                        <td>@userStory.Tasks</td>
                        <td>@userStory.AsignedTo</td>
                        <td>@userStory.IsCompleted</td>

                        <td>
                            <button class="btn btn-primary" @onclick="() => EditUserStory(userStory.Id.ToString())">Edit</button>
                            <button class="btn btn-danger" @onclick="() => DeleteUserStory(userStory.Id.ToString())">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn btn-success" @onclick="CreateUserStory">Create New User Story</button>
        <br />
        <button class="btn btn-primary" @onclick="NavigateToRoom">Back to Room</button>
    </div>
}

@code {
    [Parameter]
    public string RoomId { get; set; } // is this gonna be safe? "?" if it's null

    private List<UserStory> userStories = new List<UserStory>();

    private HubConnection hubConnection;

    private void CreateUserStory()
    {
        NavigationManager.NavigateTo($"/UserStories/Create/{RoomId}");
    }

    private void EditUserStory(string userStoryId)
    {
        NavigationManager.NavigateTo($"/UserStories/Edit/{RoomId}/{userStoryId}");
    }

    private void NavigateToRoom()
    {
        NavigationManager.NavigateTo($"/Room/{RoomId}");
    }


    private async Task DeleteUserStory(string userStoryId) //to edit: nothing happens after click the delete button
    {
        await hubConnection.InvokeAsync("DeleteUserStoryAsync", int.Parse(userStoryId));
    }


    protected override async Task OnInitializedAsync()
    {
        System.Diagnostics.Debug.WriteLine("asdasd " + RoomId);
        if (string.IsNullOrEmpty(RoomId))
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/RoomHub?RoomId={RoomId}"))
            .Build();

        await hubConnection.StartAsync();
        hubConnection.On<int>("UserStoryDeleted", HandleUserStoryDeleted);

        userStories = await hubConnection.InvokeAsync<List<UserStory>>("GetUserStoriesAsync", RoomId);
    }


    private void HandleUserStoryDeleted(int userStoryId)
    {
        JsRuntime.InvokeVoidAsync("console.log", "Received UserStoryDeleted event for user story:", userStoryId);
        userStories.RemoveAll(us => us.Id == userStoryId);
        StateHasChanged(); // Notify Blazor that the state has changed and the UI needs to be updated
    }



    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}
